<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="[${env}] [${scope}] amethyst suite">
  <parameter name="Environment" value="${env}"/>
  <test name="[${env}] [${scope}] amethyst test">
    <groups>
      <run>
        <include name="smoke"/>
        <exclude name="deprecated"/>
      </run>
    </groups>
    <packages>
      <package name="ui.account.*"/>
    </packages>
  </test>
  <listeners>
    <!--    <listener class-name="com.epam.reportportal.testng.ReportPortalTestNGListener"/>-->
  </listeners>
</suite>